.button{
    -fx-background-color: LightGrey;
    -fx-font-size: 15px;
}

.cell {
    -fx-stroke: Black;
}

.state0{
    -fx-fill: Black;
}

.state1{
    -fx-fill: Green;
}

.state2{
    -fx-fill: Blue;
}

