.button{
    -fx-background-color: LightGrey;
    -fx-font-size: 15px;
}

.cell {
    -fx-stroke: Black;
}

.state0{
    -fx-fill: White;
}

.state1{
    -fx-fill: Red;
}

.state2{
    -fx-fill: Blue;
}

.state3{
    -fx-fill: Cyan;
}

.state4{
    -fx-fill: Silver;
}

.state5{
    -fx-fill: Orange;
}

.state6{
    -fx-fill: Yellow;
}

.state7{
    -fx-fill: Green;
}

.state8{
    -fx-fill: Violet;
}

.state9{
    -fx-fill: Brown;
}
